<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PollingMinutes" value=".25" />
    <add key="SecondsBetweenCheckForTasks" value="10" />
    <add key="MinutesBetweenProcessorUpdate" value="60" />
    <add key="ForgeActivityAlias" value="" />
    <!-- Send Task Logs in Realtime -->
    <add key="RealTimeTaskLogs" value="true" />
    <!--Only claim x number of tasks at a time to prevent blocking other task servers from claiming at the same time.-->
    <add key="MaxTasksToClaim" value="3" />
    <add key="CleanupLogFiles" value="true" />
    <!--Only claim x number of one datasource tasks to enable other datasources to run while combining datasources for more efficient runs.-->
    <add key="CombineDataSourcesMaxCount" value="3" />
    <!--Default time to reuse the initial login. If ProjectWise, this should be comparable to dmskrnl.cfg setting-->
    <add key="DataSourceReloginIntervalInMinutes" value="120" />
    <!-- This section will turn on verbose logging for all HTTP Request APIs.-->
    <add key="EnableVerboseLoggingOfRequestApis" value="False" />
    <!-- Download all files in the project using desktop connector. Please only use if xrefs not found by autocad/civil3d -->
    <add key="DownloadAllDWGFilesInProject" value="False" />
    <!-- If Desktop Connector can't find the dwg, use the published file in bim360 -->
    <add key="DownloadPublishedDWGIfNoSync" value="False" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CustomerErrorReportingSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://swservice.rand.com/Software/CustomerErrorReporting.asmx" binding="basicHttpBinding" bindingConfiguration="CustomerErrorReportingSoap" contract="CERService.CustomerErrorReportingSoap" name="CustomerErrorReportingSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.12.0.0" newVersion="106.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>

      <!-- BEGIN ARCADIS CONTENT -->
      <probing privatePath="Plugins\Arcadis"/>

    </assemblyBinding>
    <!-- This setting required for Long Paths (>260) -->
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />
  </runtime>
</configuration>